/*  settings for the page*/
body{
    background-color: skyblue;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
/*  allows the start content to hide when quiz starts */
.hide {
    display: none;
}

/*container for all the content  */
/* width of the page will be 800px, max with set at 80% so it doesnt over flow*/
.container{
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
} 
h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
#start{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  sit questions in the grid style. */
.choices-btn{
    display: grid;
    gap: 20px;
    border-radius: 5px;
    
}
.button{
    background-color: rgb(115, 115, 201);
    outline: none;
    padding: 10px 15px;
    color: white;
    cursor: pointer;

   
  
}
.button:hover {
    border-color: black;
   
}
.start-button, .next-button{
  
    font-size: 30px;
    font-weight: bold;

  
    
}

/*  styles for timer and its contents */
.timer-container{
    background-color:palevioletred;
    font-size: 30px;
    border-radius: 10px;
}
#time-left{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    margin-bottom: 5px;
    /* box-shadow: 0 0 1px 1px; */

    
}



/* Scores CSS */
.scores-container{
    width:800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;

}

#highScores{
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: 0 0 10px 5px;
   background-color: violet;

}

#highscoresList{
    list-style:none;
    font-size: 20px;
}
#highscoresList:hover{
    transform: scale(1.0)
}

#go-home{
    border-radius: 20px;
    
    
}

.home-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

}
.flex-center{
    justify-content: center;
    align-items: center;
}
.flex-column{
    justify-content: center;
    align-items: center;
}



